
body {
	background-color: #141f1f;
}

h1 {
	font-family: arial;
	color: white;
	text-align: center;
	font-size: 30px;
}

h2 {
	font-family: arial;
	color: white;
	text-align: center;
	font-size: 20px;
}

h3 {
	font-family: arial;
	color: white;
	text-align: center;
	font-size: 18px;
}

b {
	font-family: arial;
	color: white;
	text-align: center;
	font-size: 20px;
}

p {
	font-family: arial;
	font-size: 20px;
	color: white;
}

a.hBox{
  width: 50%;
  line-height: 50px;
  
  border: 2px solid white;
  border-radius: 6px;
  background-color: #141f1f;

  padding: 0px 15px;
  margin: 3px;
  
  font-family: arial;
  color: white;

  text-align: left;
  text-decoration: none;
  display: inline-block;    
}

a.hBox:link, a.hBox:visited {
  width: 50%;
  line-height: 50px;
  
  border: 2px solid white;
  border-radius: 6px;
  background-color: #141f1f;

  padding: 0px 15px;
  margin: 3px;
  
  font-family: arial;
  color: white;

  text-align: left;
  text-decoration: none;
  display: inline-block;    
}

a.hBox:hover, a.box:active {
    background-color: #283e3e;
}

a.box:link, a.box:visited {

  width: 93%;
  line-height: 50px;

  border: 2px solid white;
  border-radius: 6px;
  background-color: #141f1f;

  padding: 0px 15px;
  margin: 3px;

  font-family: arial;
  color: white;

  text-align: left;
  text-decoration: none;
  display: inline-block;
}

a.icon:hover, a.box:active {
    color: #283e3e;
}

a:link, a:visited {
    
  margin: 3px;
  color: white;
  text-align: left;
  text-decoration: none;
  display: inline-block;    
}

a:hover, a:active {
	color: #283e3e;  
}

.nav {
  overflow: hidden;
  background-color: #101b1b;
  position: fixed;
  bottom: 0;
  left: -1%;
  width: 102%;
}

.regbox{
  width: 87%;
  max-width: 500px;
  line-height: 20px;
  
  border: 2px solid white;
  border-radius: 6px;
  background-color: #141f1f;

  padding: 0px 15px;
  margin: 3px;
  
  font-family: arial;
  color: white;

  text-align: left;
  text-decoration: none;
  display: inline-block;   
}

.hRegbox{
width: 50%;
  min-width: 200px;
  max-width: 500px;
  line-height: 50px;
  
  border: 2px solid white;
  border-radius: 6px;
  background-color: #141f1f;

  padding: 0px 15px;
  margin: 3px;
  
  font-family: arial;
  color: white;

  text-align: left;
  text-decoration: none;
  display: inline-block;   
 }
  
  
.vertical-menu {
   height: 230px;
	overflow-y: auto;
}

.vertical-menu a {
   background-color:  #141f1f;

  width: 88%;
  line-height: 20px;

  padding: 0px 7px;
  margin: 3px;

  border: 2px solid white;
  border-radius: 6px;
  background-color: #141f1f;

  font-family: arial;
  color: white;

  text-align: left;
  text-decoration: none;
  display: block;
}

.vertical-menu a:hover {
	background-color: #283e3e;
}

.center {
	margin: auto;
	width: 60%;
}